<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Blog - Sharing thougths since 2019</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <script src="https://kit.fontawesome.com/6dfd2cab0e.js"></script>
  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="navbar-brand">
      <i class="fas fa-blog"></i>
      Blogs
    </div>

    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/blogs">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/blogs/new">New</a>
        </li>
      </ul>
      <a class="btn btn-secondary my-2 my-sm-0" href="/about-us">About us</a>
    </div>

  </nav>