<% include ./partials/header.ejs %>
<div class="container" style="padding-top: 20px;">
  <div class="card profile-card">
    <h3 class="card-header" style="text-align: center;">Sherif Rafik</h3>
    <img class="card-img-top" src="/images/display-picture.jpg" alt="Card image">
    <div class="card-body" style="  display: block; margin-left: auto; margin-right: auto;">

      <a href="https://github.com/SherifRafik" target="_blank" class="btn btn-primary"><i class=" fab fa-github"></i>
        Github</a>
    </div>
  </div>

</div>
<% include ./partials/footer.ejs %>